### Предварительныя обработка

In [192]:
import pandas as pd

In [227]:
your_df = pd.read_csv('data_all.tsv', sep='\t').stack().str.replace(',','.').unstack()

In [228]:
your_df.isna().sum()  # Количество пропусков в каждом столбце

Unnamed: 0         8229
nrooms             8229
meters             3336
floor              8229
floors_total       8229
flat_or_appart     3337
zh_comp            1282
deadline           3809
to_metro             30
district            168
area                387
metro               464
mainprice          8229
price_per_meter    8229
otdelka            7785
developer             0
dtype: int64

#### Столбы с количеством комнат и отделкой решили удалить из-за большого количества пропусков

In [229]:
your_df = your_df.drop(columns=['Unnamed: 0', 'nrooms', 'otdelka'])

#### Мы хотим поделить столб "Время до метро" на 2 столбца: время до метро пешком и время до метро на транспорте

In [230]:
import numpy as np

In [231]:
your_df['to_metro'] = your_df['to_metro'].astype(str)

In [232]:
your_df['to_metro_transport'] = 0

In [233]:
k = 0
for i in your_df['to_metro']:
    if len(i) > 15:
        your_df['to_metro_transport'][k] = i
        k+=1
    else:
        your_df['to_metro_transport'][k] = '-'
        k+=1

C:\Users\79024\AppData\Local\Temp/ipykernel_1168/852277437.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  your_df['to_metro_transport'][k] = '-'
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [234]:
your_df['to_metro_transport'].value_counts()

-                          7163
7 минут на транспорте       464
3 минуты на транспорте      256
5 минут на транспорте        78
4 минуты на транспорте       45
10 минут на транспорте       40
6 минут на транспорте        31
18 минут на транспорте       27
2 минуты на транспорте       21
9 минут на транспорте        15
11 минут на транспорте       10
8 минут на транспорте        10
13 минут на транспорте        9
14 минут на транспорте        9
12 минут на транспорте        8
21 минута на транспорте       8
31 минута на транспорте       6
15 минут на транспорте        5
22 минуты на транспорте       5
30 минут на транспорте        4
1 минута на транспорте        3
16 минут на транспорте        3
35 минут на транспорте        3
55 минут на транспорте        1
17 минут на транспорте        1
20 минут на транспорте        1
40 минут на транспорте        1
23 минуты на транспорте       1
19 минут на транспорте        1
Name: to_metro_transport, dtype: int64

In [235]:
l = 0
for i in your_df['to_metro']:
    if len(i) > 16:
        your_df['to_metro'][l] = '-'
        l+=1
    else:
        l+=1

In [236]:
f = 0
for i in your_df['to_metro']:
    if i == 'nan':
        your_df['to_metro'][f] = '-'
        f+=1
    else:
        f+=1

In [237]:
your_df['to_metro'].value_counts()

15 минут пешком    1208
-                  1096
5 минут пешком      960
10 минут пешком     643
7 минут пешком      608
4 минуты пешком     572
1 минута пешком     443
8 минут пешком      350
9 минут пешком      330
11 минут пешком     321
13 минут пешком     296
6 минут пешком      295
16 минут пешком     281
3 минуты пешком     279
14 минут пешком     275
19 минут пешком      60
12 минут пешком      56
2 минуты пешком      53
17 минут пешком      44
20 минут пешком      34
18 минут пешком      25
Name: to_metro, dtype: int64

In [238]:
your_df = your_df.rename(columns={"to_metro": "to_metro_on_foot"})

In [239]:
your_df['to_metro_on_foot'] = your_df['to_metro_on_foot'].str.extract('(\d+)')

In [240]:
your_df['to_metro_transport'] = your_df['to_metro_transport'].str.extract('(\d+)')

In [241]:
your_df['to_metro_on_foot'] = your_df['to_metro_on_foot'].fillna(0).astype(int)

In [242]:
your_df['to_metro_transport'] = your_df['to_metro_transport'].fillna(0).astype(int)

In [245]:
your_df

,meters,floor,floors_total,flat_or_appart,zh_comp,deadline,to_metro_on_foot,district,area,metro,mainprice,price_per_meter,developer,to_metro_transport
0,NaN,NaN,NaN,NaN,ЖК «River Park Towers Кутузовский»,NaN,5.0,ЗАО,р-н Дорогомилово,м. Фили,NaN,NaN,Аеон-Девелопмент,NaN
1,NaN,NaN,NaN,NaN,ЖК «ÁLIA»,сдача ГК: 2 кв. 2023 года,7.0,СЗАО,р-н Покровское-Стрешнево,м. Спартак,NaN,NaN,ASTERUS,NaN
2,51.2,NaN,NaN,A,ЖК «NEVA TOWERS»,дом сдан,3.0,ЦАО,р-н Пресненский,м. Выставочная,NaN,NaN,Тауэрс,NaN
3,49.8,NaN,NaN,F,ЖК «Luzhniki Collection»,сдача ГК: 4 кв. 2026 года,15.0,ЦАО,р-н Хамовники,м. Воробьёвы горы,NaN,NaN,Absolute Premium,NaN
4,NaN,NaN,NaN,NaN,ЖК «Famous»,сдача ГК: 4 кв. 2023 года,5.0,ЗАО,р-н Филевский парк,м. Фили,NaN,NaN,MR Group,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8224,NaN,NaN,NaN,NaN,ЖК «Wellton Towers»,NaN,10.0,СЗАО,р-н Хорошево-Мневники,м. Народное Ополчение,NaN,NaN,Место,NaN
8225,44.94,NaN,NaN,F,ЖК «Dream Towers»,сдача ГК: 2 кв. 2023 года,5.0,ЮАО,р-н Нагатинский затон,м. Технопарк,NaN,NaN,Regions Development,NaN
8226,48.3,NaN,NaN,F,ЖК «Бадаевский»,сдача ГК: 4 кв. 2025 года,16.0,ЗАО,р-н Дорогомилово,м. Киевская,NaN,NaN,Capital Group,NaN
8227,50.2,NaN,NaN,F,ЖК «HIGH LIFE Летниковская. 11»,NaN,9.0,ЮАО,р-н Даниловский,м. Павелецкая,NaN,NaN,Пионер,NaN
8228,53.57,NaN,NaN,A,ЖК «Клубный дом Космо 4/22»,NaN,15.0,ЦАО,р-н Замоскворечье,м. Новокузнецкая,NaN,NaN,Галс-Девелопмент,NaN

### Анализируем и визуализируем полученные данные

In [244]:
your_df.replace(0, np.nan, inplace=True)

In [178]:
len(your_df['area'].unique()) # Количество уникальных районов, в которых находятся квартиры из собранных данных.

117

In [179]:
your_df.groupby('developer')['price_per_meter'].mean().head(10)  # Застройщики с самыми высокими ценами за м²

developer
494 УНР                        661000.000000
AFI Development                424666.666667
ALFA real estate               437853.000000
ALVO Group                     621551.250000
ASTERUS                        336381.831818
ATLANT                         571429.000000
Absolute Premium               673515.889908
Acropol                        414957.000000
Alliance Agency Real Estate    366154.000000
BARNES International Realty    488700.500000
Name: price_per_meter, dtype: float64

In [180]:
your_df.groupby('flat_or_appart')['price_per_meter'].mean() # В среднем стоимость за м² в апартаментах выше, чем в квартирах.

flat_or_appart
A    818579.312064
F    793512.759321
Name: price_per_meter, dtype: float64